# Unity generated #
Temp/
Library/
Packages/
UnityPackageManager/
ProjectSettings/PresetManager.asset
ProjectSettings/ProjectVersion.txt

# Visual Studio / MonoDevelop generated #
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
/*.log
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj
*.zip

# IntelliJ IDEA generated #
.idea
# Visual Studio generated #
.vs